@import "@rws-mixins";

.backdrop {
    position: fixed;    
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
    z-index: 1001;
}

.rws-modal {
    position: fixed;    
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    
    .rws-modal-wrapper{
        background: #FFF;
        border-radius: 20px;
        padding: 20px;
        max-width: 70vw;
        max-height: 80vh;
        min-height: 40vh;
        
        // left: -15%;
        margin-left: 30px;
        color: #000;
        position: relative;
        z-index: 1002;
        overflow-y: auto;

        margin-top: 30px;
        
        @include customScrollbars();

        &.center-top {
            margin-top: 0px;
            top: 50%;
            transform: translateY(-50%);
        }

        &.center-left {
            left: 50%;
            transform: translateX(-50%);
        }

        &.center-top.center-left {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .rws-modal-header{
            position: sticky;
            top: 0;
            background: #ffffff;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #e2e8f0;

            .modal-title {
                margin: 0;
                font-size: 24px;
                font-weight: 600;
                color: #1e293b;
                flex: 1;
            }
        }
    
        .rws-modal-body{
            /* Modal body content */
            position: relative;
        }
    }   
}