<form class="re-former-container">
    ${T.repeat(x => x.formFields, T.html`<div class="form-field">
        <label for="re-former-field-${x => x.fieldName}">${ (x, c) => c.parent.paintLabel(x.fieldName)}</label>
        ${T.when(x => x.type === 'String', T.html`
            <reformer-text class="reformer-field-input" :value="${ (x, c) => !!c.parent.payload[x.fieldName] ? c.parent.payload[x.fieldName] : null}" :setForm="${(x, c) => c.parent.setForm}" name="${x => x.fieldName}"></re-former-text>
        `)}
        ${T.when(x => x.type === 'Date', T.html`
            <reformer-date class="reformer-field-input" :value="${ (x, c) => !!c.parent.payload[x.fieldName] ? c.parent.payload[x.fieldName] : null}" :setForm="${(x, c) => c.parent.setForm}" name="${x => x.fieldName}"></re-former-date>
        `)}
        ${T.when(x => x.type === 'Number', T.html`
            <reformer-number class="reformer-field-input" :value="${ (x, c) => !!c.parent.payload[x.fieldName] ? c.parent.payload[x.fieldName] : null}" :setForm="${(x, c) => c.parent.setForm}" name="${x => x.fieldName}"></re-former-number>
        `)}
        ${T.when(x => x.type === 'Boolean', T.html`
            <reformer-boolean class="reformer-field-input" :value="${ (x, c) => !!c.parent.payload[x.fieldName] ? c.parent.payload[x.fieldName] : null}" :setForm="${(x, c) => c.parent.setForm}" name="${x => x.fieldName}"></re-former-boolean>
        `)}
    </div>`)}   
    
    <sl-button @click="${ (x, c) => x.sendForm() }" variant="primary" >Save</sl-button>
</div>
